openapi: 3.0.1
info:
  description: |
    ### NCBI Datasets is a resource that lets you easily gather data from NCBI.
    The Datasets version 2 API is still in alpha, and we're updating it often to add new functionality, iron out bugs and enhance usability.
    For some larger downloads, you may want to download a [dehydrated zip archive](https://www.ncbi.nlm.nih.gov/datasets/docs/v2/how-tos/genomes/large-download/), and retrieve the individual data files at a later time.
  title: NCBI Datasets API
  version: v2alpha
externalDocs:
  description: Interactively explore genome assembly datasets
  url: https://www.ncbi.nlm.nih.gov/datasets/genomes/
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v2alpha
- url: https://dev.ncbi.nlm.nih.gov/datasets/v2alpha
security:
- ApiKeyAuthHeader: []
tags:
- description: |
    #### Options to explore, summarize and download assembled genomes, including the associated sequence, metadata and annotation.
    These genome services allow you to explore genome [assemblies](https://www.ncbi.nlm.nih.gov/datasets/docs/v2/glossary/#assembly).  For a set of genomes of interest, identified by either assembly accession or taxonomic subtree, you can generate a summary, determine the package size, and download.
  name: Genome
- description: |
    #### Options to explore, summarize and download sequences and metadata for genes and their associated transcripts and proteins.
    These gene services allow you explore [NCBI Gene](https://www.ncbi.nlm.nih.gov/gene/), and for genes of interest, identified by either gene-id, symbol or RefSeq sequence accession, download a data package including metadata (tabular and [JSON Lines](https://jsonlines.org/) formats), transcript and protein sequence in FASTA format.
  name: Gene
- description: |
    #### Options to explore, summarize and download sequences and metadata for prokaryote genes and their associated proteins.
    These gene services allow you to explore prokaryotic gene data by RefSeq protein sequence accession and download a data package including metadata for the gene including all genomic annotations as [JSON Lines](https://jsonlines.org/) format, gene and protein sequences in FASTA format.
  name: Prokaryote
- description: "#### Get metadata or a zip archive containing a virus genome or coronavirus\
    \ protein dataset.\nThe following files are optionally available for virus genome\
    \ and/or protein datasets:\n* genomic.fna (genomic sequences in FASTA format)\n\
    * cds.fna (nucleotide coding sequences in FASTA format)\n* protein.faa (protein\
    \ sequences in FASTA format)\n* annotation_report.jsonl (annotation report in\
    \ [JSON Lines](https://jsonlines.org/) format)\n* biosample_report.jsonl (biosample\
    \ report in [JSON Lines](https://jsonlines.org/) format)\n\nThe following files\
    \ are always included in coronavirus genome and protein datasets:\n* data_report.jsonl\
    \ (data report with viral metadata in JSON lines format)\n* virus_dataset.md (README\
    \ containing details on sequence file data content and other information)\n* dataset_catalog.json\
    \ (a list of files and file types included in the dataset)\n\nYou may also request\
    \ a tab-delimited table of metadata that describes the available virus genome\
    \ and protein data.\nVirus genome datasets are available for all viruses, including\
    \ SARS-CoV-2. Various parameters may be used for filtering and specifying the\
    \ contents of the genome dataset.\nProtein datasets are available for SARS-CoV-2\
    \ only. "
  name: Virus
- description: "#### Retrieve the current version of all services.  \nServices follow\
    \ [Semantic Versioning 2.0.0 Schema](https://semver.org/spec/v2.0.0.html).\n"
  name: Version
- description: |
    #### Options to explore taxonomic metadata and relationships.
    These taxonomic services allow you to browse taxonomic metadata in addition to retrieving parent lineages and filtered sets of child nodes for any given set of taxonomic identifiers.
  name: Taxonomy
paths:
  /genome/accession/{accessions}/download_summary:
    get:
      description: Get a download summary by accession in a JSON output format.
      operationId: genome_download_summary
      parameters:
      - description: NCBI genome assembly accessions
        examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.40
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.40
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "The default setting is all chromosome. Specify individual chromosome\
          \ by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated\
          \ like their own chromosome ('Un'). The filter only applies to fasta sequence."
        examples:
          example-0:
            summary: Selected chromosomes
            value:
            - 1
            - 2
            - 3
            - X
            - "Y"
            - MT
          example-1:
            summary: Human sex chromosomes
            value:
            - X
            - "Y"
        explode: true
        in: query
        name: chromosomes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Select additional types of annotation to include in the data\
          \ package.  If unset, no annotation is provided."
        examples:
          example-0:
            summary: "Genomic, Transcript & Protein Sequence"
            value:
            - GENOME_FASTA
            - PROT_FASTA
            - RNA_FASTA
          example-1:
            summary: All
            value:
            - GENOME_GFF
            - GENOME_GBFF
            - GENOME_GTF
            - PROT_FASTA
            - RNA_FASTA
            - "CDS_FASTA, SEQUENCE_REPORT"
        explode: true
        in: query
        name: include_annotation_type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v2AnnotationForAssemblyType'
          type: array
        style: form
      - description: "Supports debugging, e.g. by controlling data download speeds"
        explode: true
        in: query
        name: _exp_debug_values
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
          description: A successful response
      summary: Preview genome dataset download
      tags:
      - Genome
  /genome/download_summary:
    post:
      description: "The 'GET' version of download summary is limited by the size of\
        \ the GET URL (2KB, which works out to about 140 genomic accessions).  The\
        \ POST operation is provided to allow users to supply a larger number of accessions\
        \ in a single request."
      operationId: genome_download_summary_by_post
      requestBody:
        content:
          application/json:
            example:
              accessions:
              - GCF_000001405.40
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetRequest'
        required: true
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DownloadSummary'
          description: A successful response
      summary: Preview genome dataset download by POST
      tags:
      - Genome
  /genome/accession/{accessions}/dataset_report:
    get:
      description: "Get dataset reports by accessions.  By default, in paged JSON\
        \ format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_dataset_report
      parameters:
      - examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.40
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.40
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true, only return reference and representative (GCF_ and\
          \ GCA_) genome assemblies."
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "For paired (GCA/GCF) records, only return the primary record"
        examples:
          example-0:
            summary: Return all assemblies
            value: false
          example-1:
            summary: Only return single record for GCA/GCF pairs
            value: true
        explode: true
        in: query
        name: filters.exclude_paired_reports
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude atypical genomes, i.e. genomes that have assembly\
          \ issues or are otherwise atypical"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones that are atypical"
            value: false
          example-1:
            summary: Only return genomes that have not been classified as atypical
            value: true
        explode: true
        in: query
        name: filters.exclude_atypical
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return all assemblies, including replaced and suppressed, or\
          \ only current assemblies"
        examples:
          example-0:
            summary: Only return current assemblies
            value: current
          example-1:
            summary: "Return all assemblies, including suppressed and replaced"
            value: all_assemblies
        explode: true
        in: query
        name: filters.assembly_version
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        style: form
      - description: "Only return genome assemblies that have one of the specified\
          \ assembly levels. By default, do not filter."
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
          type: array
        style: form
      - description: "Only return genome assemblies that were released on or after\
          \ the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2015"
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return genome assemblies that were released on or before\
          \ to the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2021"
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return results whose fields contain the specified search\
          \ terms in their taxon, infraspecific, assembly name or submitter fields\
          \ By default, do not filter"
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: Exclude metagenome derived assemblies
            value: metagenome_derived_exclude
          example-1:
            summary: Return only metagenome derived assemblies
            value: metagenome_derived_only
        explode: true
        in: query
        name: filters.is_metagenome_derived
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        style: form
      - description: "If true, include only type materials"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type materials"
            value: false
          example-1:
            summary: Only return genomes that are classified as type materials
            value: true
        explode: true
        in: query
        name: filters.is_type_material
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, include only ICTV Exemplars"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type ICTV exemplar"
            value: false
          example-1:
            summary: Only return genomes that are classified as ICTV exemplar
            value: true
        explode: true
        in: query
        name: filters.is_ictv_exemplar
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude large multi-isolate projects"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of large multi-isolate\
              \ projects"
            value: false
          example-1:
            summary: Exclude genomes that are classified as large multi-isolate projects
            value: true
        explode: true
        in: query
        name: filters.exclude_multi_isolate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: A Type Material with no classification
            value: TYPE_MATERIAL
          example-1:
            summary: A Type Material of the Clade classification
            value: TYPE_MATERIAL_CLADE
          example-2:
            summary: A Type Material of the Neotype classification
            value: TYPE_MATERIAL_NEOTYPE
        explode: true
        in: query
        name: filters.type_material_category
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        style: form
      - description: "If true, only return assemblies with the given NCBI Taxonomy\
          \ ID, or name. Otherwise, assemblies from taxonomy subtree are included,\
          \ too."
        explode: true
        in: query
        name: tax_exact_match
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: Genome Accession and Name
            value:
            - assminfo-accession
            - assminfo-name
          example-1:
            summary: Just accession
            value: assminfo-accession
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return either assembly accessions, or complete assembly reports"
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
        style: form
      - description: "The maximum number of genome assembly reports to return. Default\
          \ is 20 and maximum is 1000. If the number of results exceeds the page size,\
          \ `page_token` can be used to retrieve the remaining results."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: "A page token is returned from an `AssemblyDatasetReportsRequest`\
          \ call with more than `page_size` results. Use this token, along with the\
          \ previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next\
          \ page of results. When `page_token` is empty, all results have been retrieved."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.field
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.direction
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
        style: form
      - description: Whether this request for tabular data should include the header
          row
        explode: true
        in: query
        name: include_tabular_header
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get dataset reports by accessions
      tags:
      - Genome
  /genome/taxon/{taxons}/dataset_report:
    get:
      description: "Get dataset reports by taxons.  By default, in paged JSON format,\
        \ but also available as tabular (accept: text/tab-separated-values) or json-lines\
        \ (accept: application/x-ndjson)"
      operationId: genome_dataset_reports_by_taxon
      parameters:
      - description: NCBI Taxonomy ID or name (common or scientific) at any taxonomic
          rank
        examples:
          example-0:
            summary: NCBI Taxonomy Identifier
            value: 9606
          example-1:
            summary: Common Names
            value:
            - chimpanzee
            - eastern gorilla
          example-2:
            summary: Scientific Name
            value: Homo sapiens
        explode: false
        in: path
        name: taxons
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true, only return reference and representative (GCF_ and\
          \ GCA_) genome assemblies."
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "For paired (GCA/GCF) records, only return the primary record"
        examples:
          example-0:
            summary: Return all assemblies
            value: false
          example-1:
            summary: Only return single record for GCA/GCF pairs
            value: true
        explode: true
        in: query
        name: filters.exclude_paired_reports
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude atypical genomes, i.e. genomes that have assembly\
          \ issues or are otherwise atypical"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones that are atypical"
            value: false
          example-1:
            summary: Only return genomes that have not been classified as atypical
            value: true
        explode: true
        in: query
        name: filters.exclude_atypical
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return all assemblies, including replaced and suppressed, or\
          \ only current assemblies"
        examples:
          example-0:
            summary: Only return current assemblies
            value: current
          example-1:
            summary: "Return all assemblies, including suppressed and replaced"
            value: all_assemblies
        explode: true
        in: query
        name: filters.assembly_version
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        style: form
      - description: "Only return genome assemblies that have one of the specified\
          \ assembly levels. By default, do not filter."
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
          type: array
        style: form
      - description: "Only return genome assemblies that were released on or after\
          \ the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2015"
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return genome assemblies that were released on or before\
          \ to the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2021"
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return results whose fields contain the specified search\
          \ terms in their taxon, infraspecific, assembly name or submitter fields\
          \ By default, do not filter"
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: Exclude metagenome derived assemblies
            value: metagenome_derived_exclude
          example-1:
            summary: Return only metagenome derived assemblies
            value: metagenome_derived_only
        explode: true
        in: query
        name: filters.is_metagenome_derived
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        style: form
      - description: "If true, include only type materials"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type materials"
            value: false
          example-1:
            summary: Only return genomes that are classified as type materials
            value: true
        explode: true
        in: query
        name: filters.is_type_material
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, include only ICTV Exemplars"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type ICTV exemplar"
            value: false
          example-1:
            summary: Only return genomes that are classified as ICTV exemplar
            value: true
        explode: true
        in: query
        name: filters.is_ictv_exemplar
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude large multi-isolate projects"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of large multi-isolate\
              \ projects"
            value: false
          example-1:
            summary: Exclude genomes that are classified as large multi-isolate projects
            value: true
        explode: true
        in: query
        name: filters.exclude_multi_isolate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: A Type Material with no classification
            value: TYPE_MATERIAL
          example-1:
            summary: A Type Material of the Clade classification
            value: TYPE_MATERIAL_CLADE
          example-2:
            summary: A Type Material of the Neotype classification
            value: TYPE_MATERIAL_NEOTYPE
        explode: true
        in: query
        name: filters.type_material_category
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        style: form
      - description: "If true, only return assemblies with the given NCBI Taxonomy\
          \ ID, or name. Otherwise, assemblies from taxonomy subtree are included,\
          \ too."
        explode: true
        in: query
        name: tax_exact_match
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: Genome Accession and Name
            value:
            - assminfo-accession
            - assminfo-name
          example-1:
            summary: Just accession
            value: assminfo-accession
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return either assembly accessions, or complete assembly reports"
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
        style: form
      - description: "The maximum number of genome assembly reports to return. Default\
          \ is 20 and maximum is 1000. If the number of results exceeds the page size,\
          \ `page_token` can be used to retrieve the remaining results."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: "A page token is returned from an `AssemblyDatasetReportsRequest`\
          \ call with more than `page_size` results. Use this token, along with the\
          \ previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next\
          \ page of results. When `page_token` is empty, all results have been retrieved."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.field
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.direction
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
        style: form
      - description: Whether this request for tabular data should include the header
          row
        explode: true
        in: query
        name: include_tabular_header
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get dataset reports by taxons
      tags:
      - Genome
  /genome/bioproject/{bioprojects}/dataset_report:
    get:
      description: "Get dataset reports by bioprojects.  By default, in paged JSON\
        \ format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_dataset_reports_by_bioproject
      parameters:
      - examples:
          example-0:
            summary: Vertebrate Genomes Project
            value: PRJNA489243
          example-1:
            summary: Human Genome Project
            value: PRJNA31257
        explode: false
        in: path
        name: bioprojects
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true, only return reference and representative (GCF_ and\
          \ GCA_) genome assemblies."
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "For paired (GCA/GCF) records, only return the primary record"
        examples:
          example-0:
            summary: Return all assemblies
            value: false
          example-1:
            summary: Only return single record for GCA/GCF pairs
            value: true
        explode: true
        in: query
        name: filters.exclude_paired_reports
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude atypical genomes, i.e. genomes that have assembly\
          \ issues or are otherwise atypical"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones that are atypical"
            value: false
          example-1:
            summary: Only return genomes that have not been classified as atypical
            value: true
        explode: true
        in: query
        name: filters.exclude_atypical
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return all assemblies, including replaced and suppressed, or\
          \ only current assemblies"
        examples:
          example-0:
            summary: Only return current assemblies
            value: current
          example-1:
            summary: "Return all assemblies, including suppressed and replaced"
            value: all_assemblies
        explode: true
        in: query
        name: filters.assembly_version
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        style: form
      - description: "Only return genome assemblies that have one of the specified\
          \ assembly levels. By default, do not filter."
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
          type: array
        style: form
      - description: "Only return genome assemblies that were released on or after\
          \ the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2015"
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return genome assemblies that were released on or before\
          \ to the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2021"
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return results whose fields contain the specified search\
          \ terms in their taxon, infraspecific, assembly name or submitter fields\
          \ By default, do not filter"
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: Exclude metagenome derived assemblies
            value: metagenome_derived_exclude
          example-1:
            summary: Return only metagenome derived assemblies
            value: metagenome_derived_only
        explode: true
        in: query
        name: filters.is_metagenome_derived
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        style: form
      - description: "If true, include only type materials"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type materials"
            value: false
          example-1:
            summary: Only return genomes that are classified as type materials
            value: true
        explode: true
        in: query
        name: filters.is_type_material
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, include only ICTV Exemplars"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type ICTV exemplar"
            value: false
          example-1:
            summary: Only return genomes that are classified as ICTV exemplar
            value: true
        explode: true
        in: query
        name: filters.is_ictv_exemplar
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude large multi-isolate projects"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of large multi-isolate\
              \ projects"
            value: false
          example-1:
            summary: Exclude genomes that are classified as large multi-isolate projects
            value: true
        explode: true
        in: query
        name: filters.exclude_multi_isolate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: A Type Material with no classification
            value: TYPE_MATERIAL
          example-1:
            summary: A Type Material of the Clade classification
            value: TYPE_MATERIAL_CLADE
          example-2:
            summary: A Type Material of the Neotype classification
            value: TYPE_MATERIAL_NEOTYPE
        explode: true
        in: query
        name: filters.type_material_category
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        style: form
      - description: "If true, only return assemblies with the given NCBI Taxonomy\
          \ ID, or name. Otherwise, assemblies from taxonomy subtree are included,\
          \ too."
        explode: true
        in: query
        name: tax_exact_match
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: Genome Accession and Name
            value:
            - assminfo-accession
            - assminfo-name
          example-1:
            summary: Just accession
            value: assminfo-accession
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return either assembly accessions, or complete assembly reports"
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
        style: form
      - description: "The maximum number of genome assembly reports to return. Default\
          \ is 20 and maximum is 1000. If the number of results exceeds the page size,\
          \ `page_token` can be used to retrieve the remaining results."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: "A page token is returned from an `AssemblyDatasetReportsRequest`\
          \ call with more than `page_size` results. Use this token, along with the\
          \ previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next\
          \ page of results. When `page_token` is empty, all results have been retrieved."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.field
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.direction
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
        style: form
      - description: Whether this request for tabular data should include the header
          row
        explode: true
        in: query
        name: include_tabular_header
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get dataset reports by bioproject
      tags:
      - Genome
  /genome/biosample/{biosample_ids}/dataset_report:
    get:
      description: "Get dataset reports by biosample id.  By default, in paged JSON\
        \ format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_dataset_reports_by_biosample_id
      parameters:
      - examples:
          example-0:
            summary: BioSample Identifier
            value: SAMN15960293
        explode: false
        in: path
        name: biosample_ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true, only return reference and representative (GCF_ and\
          \ GCA_) genome assemblies."
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "For paired (GCA/GCF) records, only return the primary record"
        examples:
          example-0:
            summary: Return all assemblies
            value: false
          example-1:
            summary: Only return single record for GCA/GCF pairs
            value: true
        explode: true
        in: query
        name: filters.exclude_paired_reports
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude atypical genomes, i.e. genomes that have assembly\
          \ issues or are otherwise atypical"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones that are atypical"
            value: false
          example-1:
            summary: Only return genomes that have not been classified as atypical
            value: true
        explode: true
        in: query
        name: filters.exclude_atypical
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return all assemblies, including replaced and suppressed, or\
          \ only current assemblies"
        examples:
          example-0:
            summary: Only return current assemblies
            value: current
          example-1:
            summary: "Return all assemblies, including suppressed and replaced"
            value: all_assemblies
        explode: true
        in: query
        name: filters.assembly_version
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        style: form
      - description: "Only return genome assemblies that have one of the specified\
          \ assembly levels. By default, do not filter."
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
          type: array
        style: form
      - description: "Only return genome assemblies that were released on or after\
          \ the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2015"
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return genome assemblies that were released on or before\
          \ to the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2021"
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return results whose fields contain the specified search\
          \ terms in their taxon, infraspecific, assembly name or submitter fields\
          \ By default, do not filter"
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: Exclude metagenome derived assemblies
            value: metagenome_derived_exclude
          example-1:
            summary: Return only metagenome derived assemblies
            value: metagenome_derived_only
        explode: true
        in: query
        name: filters.is_metagenome_derived
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        style: form
      - description: "If true, include only type materials"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type materials"
            value: false
          example-1:
            summary: Only return genomes that are classified as type materials
            value: true
        explode: true
        in: query
        name: filters.is_type_material
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, include only ICTV Exemplars"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type ICTV exemplar"
            value: false
          example-1:
            summary: Only return genomes that are classified as ICTV exemplar
            value: true
        explode: true
        in: query
        name: filters.is_ictv_exemplar
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude large multi-isolate projects"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of large multi-isolate\
              \ projects"
            value: false
          example-1:
            summary: Exclude genomes that are classified as large multi-isolate projects
            value: true
        explode: true
        in: query
        name: filters.exclude_multi_isolate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: A Type Material with no classification
            value: TYPE_MATERIAL
          example-1:
            summary: A Type Material of the Clade classification
            value: TYPE_MATERIAL_CLADE
          example-2:
            summary: A Type Material of the Neotype classification
            value: TYPE_MATERIAL_NEOTYPE
        explode: true
        in: query
        name: filters.type_material_category
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        style: form
      - description: "If true, only return assemblies with the given NCBI Taxonomy\
          \ ID, or name. Otherwise, assemblies from taxonomy subtree are included,\
          \ too."
        explode: true
        in: query
        name: tax_exact_match
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: Genome Accession and Name
            value:
            - assminfo-accession
            - assminfo-name
          example-1:
            summary: Just accession
            value: assminfo-accession
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return either assembly accessions, or complete assembly reports"
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
        style: form
      - description: "The maximum number of genome assembly reports to return. Default\
          \ is 20 and maximum is 1000. If the number of results exceeds the page size,\
          \ `page_token` can be used to retrieve the remaining results."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: "A page token is returned from an `AssemblyDatasetReportsRequest`\
          \ call with more than `page_size` results. Use this token, along with the\
          \ previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next\
          \ page of results. When `page_token` is empty, all results have been retrieved."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.field
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.direction
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
        style: form
      - description: Whether this request for tabular data should include the header
          row
        explode: true
        in: query
        name: include_tabular_header
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get dataset reports by biosample id
      tags:
      - Genome
  /genome/wgs/{wgs_accessions}/dataset_report:
    get:
      description: "Get dataset reports by wgs accession.  By default, in paged JSON\
        \ format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_dataset_reports_by_wgs
      parameters:
      - examples:
          example-0:
            summary: Human wgs accessions
            value:
            - JAHLSK02
            - JAAKGM02
        explode: false
        in: path
        name: wgs_accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true, only return reference and representative (GCF_ and\
          \ GCA_) genome assemblies."
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "For paired (GCA/GCF) records, only return the primary record"
        examples:
          example-0:
            summary: Return all assemblies
            value: false
          example-1:
            summary: Only return single record for GCA/GCF pairs
            value: true
        explode: true
        in: query
        name: filters.exclude_paired_reports
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude atypical genomes, i.e. genomes that have assembly\
          \ issues or are otherwise atypical"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones that are atypical"
            value: false
          example-1:
            summary: Only return genomes that have not been classified as atypical
            value: true
        explode: true
        in: query
        name: filters.exclude_atypical
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return all assemblies, including replaced and suppressed, or\
          \ only current assemblies"
        examples:
          example-0:
            summary: Only return current assemblies
            value: current
          example-1:
            summary: "Return all assemblies, including suppressed and replaced"
            value: all_assemblies
        explode: true
        in: query
        name: filters.assembly_version
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        style: form
      - description: "Only return genome assemblies that have one of the specified\
          \ assembly levels. By default, do not filter."
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
          type: array
        style: form
      - description: "Only return genome assemblies that were released on or after\
          \ the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2015"
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return genome assemblies that were released on or before\
          \ to the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2021"
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return results whose fields contain the specified search\
          \ terms in their taxon, infraspecific, assembly name or submitter fields\
          \ By default, do not filter"
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: Exclude metagenome derived assemblies
            value: metagenome_derived_exclude
          example-1:
            summary: Return only metagenome derived assemblies
            value: metagenome_derived_only
        explode: true
        in: query
        name: filters.is_metagenome_derived
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        style: form
      - description: "If true, include only type materials"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type materials"
            value: false
          example-1:
            summary: Only return genomes that are classified as type materials
            value: true
        explode: true
        in: query
        name: filters.is_type_material
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, include only ICTV Exemplars"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type ICTV exemplar"
            value: false
          example-1:
            summary: Only return genomes that are classified as ICTV exemplar
            value: true
        explode: true
        in: query
        name: filters.is_ictv_exemplar
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude large multi-isolate projects"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of large multi-isolate\
              \ projects"
            value: false
          example-1:
            summary: Exclude genomes that are classified as large multi-isolate projects
            value: true
        explode: true
        in: query
        name: filters.exclude_multi_isolate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: A Type Material with no classification
            value: TYPE_MATERIAL
          example-1:
            summary: A Type Material of the Clade classification
            value: TYPE_MATERIAL_CLADE
          example-2:
            summary: A Type Material of the Neotype classification
            value: TYPE_MATERIAL_NEOTYPE
        explode: true
        in: query
        name: filters.type_material_category
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        style: form
      - description: "If true, only return assemblies with the given NCBI Taxonomy\
          \ ID, or name. Otherwise, assemblies from taxonomy subtree are included,\
          \ too."
        explode: true
        in: query
        name: tax_exact_match
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: Genome Accession and Name
            value:
            - assminfo-accession
            - assminfo-name
          example-1:
            summary: Just accession
            value: assminfo-accession
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return either assembly accessions, or complete assembly reports"
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
        style: form
      - description: "The maximum number of genome assembly reports to return. Default\
          \ is 20 and maximum is 1000. If the number of results exceeds the page size,\
          \ `page_token` can be used to retrieve the remaining results."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: "A page token is returned from an `AssemblyDatasetReportsRequest`\
          \ call with more than `page_size` results. Use this token, along with the\
          \ previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next\
          \ page of results. When `page_token` is empty, all results have been retrieved."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.field
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.direction
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
        style: form
      - description: Whether this request for tabular data should include the header
          row
        explode: true
        in: query
        name: include_tabular_header
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get dataset reports by wgs accession
      tags:
      - Genome
  /genome/assembly_name/{assembly_names}/dataset_report:
    get:
      description: "Get dataset reports by assembly name (exact).  By default, in\
        \ paged JSON format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_dataset_reports_by_assembly_name
      parameters:
      - examples:
          example-0:
            summary: Assembly name (exact)
            value: HanXRQr2.0-SUNRISE
        explode: false
        in: path
        name: assembly_names
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "If true, only return reference and representative (GCF_ and\
          \ GCA_) genome assemblies."
        examples:
          example-0:
            summary: Limit to reference & representative genomes
            value: true
          example-1:
            summary: Include reference and non-reference genomes
            value: false
        explode: true
        in: query
        name: filters.reference_only
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Return only RefSeq (GCF_) or GenBank (GCA_) genome assemblies
        examples:
          example-0:
            summary: Limit to RefSeq genomes
            value: refseq
          example-1:
            summary: Limit to GenBank genomes
            value: genbank
          example-2:
            summary: All genomes
            value: all
        explode: true
        in: query
        name: filters.assembly_source
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblySource'
        style: form
      - description: Return only annotated genome assemblies
        examples:
          example-0:
            summary: Limit to annotated assemblies
            value: true
          example-1:
            summary: Return all assemblies
            value: false
        explode: true
        in: query
        name: filters.has_annotation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "For paired (GCA/GCF) records, only return the primary record"
        examples:
          example-0:
            summary: Return all assemblies
            value: false
          example-1:
            summary: Only return single record for GCA/GCF pairs
            value: true
        explode: true
        in: query
        name: filters.exclude_paired_reports
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude atypical genomes, i.e. genomes that have assembly\
          \ issues or are otherwise atypical"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones that are atypical"
            value: false
          example-1:
            summary: Only return genomes that have not been classified as atypical
            value: true
        explode: true
        in: query
        name: filters.exclude_atypical
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return all assemblies, including replaced and suppressed, or\
          \ only current assemblies"
        examples:
          example-0:
            summary: Only return current assemblies
            value: current
          example-1:
            summary: "Return all assemblies, including suppressed and replaced"
            value: all_assemblies
        explode: true
        in: query
        name: filters.assembly_version
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterAssemblyVersion'
        style: form
      - description: "Only return genome assemblies that have one of the specified\
          \ assembly levels. By default, do not filter."
        examples:
          example-0:
            summary: Chromosome and complete genome
            value:
            - chromosome
            - complete_genome
          example-1:
            summary: Scaffold and higher
            value:
            - scaffold
            - chromosome
            - complete_genome
        explode: true
        in: query
        name: filters.assembly_level
        required: false
        schema:
          items:
            $ref: '#/components/schemas/v2reportsAssemblyLevel'
          type: array
        style: form
      - description: "Only return genome assemblies that were released on or after\
          \ the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2015"
            value: 01/10/2015
        explode: true
        in: query
        name: filters.first_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return genome assemblies that were released on or before\
          \ to the specified date By default, do not filter."
        examples:
          example-0:
            summary: "Jan 10, 2021"
            value: 01/10/2021
        explode: true
        in: query
        name: filters.last_release_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only return results whose fields contain the specified search\
          \ terms in their taxon, infraspecific, assembly name or submitter fields\
          \ By default, do not filter"
        examples:
          example-0:
            summary: Genome Reference Consortium
            value: Genome Reference Consortium
          example-1:
            summary: GRCh38
            value: GRCh38
          example-2:
            summary: C57BL/6J
            value: C57BL/6J
        explode: true
        in: query
        name: filters.search_text
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: Exclude metagenome derived assemblies
            value: metagenome_derived_exclude
          example-1:
            summary: Return only metagenome derived assemblies
            value: metagenome_derived_only
        explode: true
        in: query
        name: filters.is_metagenome_derived
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterMetagenomeDerivedFilter'
        style: form
      - description: "If true, include only type materials"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type materials"
            value: false
          example-1:
            summary: Only return genomes that are classified as type materials
            value: true
        explode: true
        in: query
        name: filters.is_type_material
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, include only ICTV Exemplars"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of type ICTV exemplar"
            value: false
          example-1:
            summary: Only return genomes that are classified as ICTV exemplar
            value: true
        explode: true
        in: query
        name: filters.is_ictv_exemplar
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "If true, exclude large multi-isolate projects"
        examples:
          example-0:
            summary: "Return all selected genomes, including ones of large multi-isolate\
              \ projects"
            value: false
          example-1:
            summary: Exclude genomes that are classified as large multi-isolate projects
            value: true
        explode: true
        in: query
        name: filters.exclude_multi_isolate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: A Type Material with no classification
            value: TYPE_MATERIAL
          example-1:
            summary: A Type Material of the Clade classification
            value: TYPE_MATERIAL_CLADE
          example-2:
            summary: A Type Material of the Neotype classification
            value: TYPE_MATERIAL_NEOTYPE
        explode: true
        in: query
        name: filters.type_material_category
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetDescriptorsFilterTypeMaterialCategory'
        style: form
      - description: "If true, only return assemblies with the given NCBI Taxonomy\
          \ ID, or name. Otherwise, assemblies from taxonomy subtree are included,\
          \ too."
        explode: true
        in: query
        name: tax_exact_match
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - examples:
          example-0:
            summary: Genome Accession and Name
            value:
            - assminfo-accession
            - assminfo-name
          example-1:
            summary: Just accession
            value: assminfo-accession
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Return either assembly accessions, or complete assembly reports"
        explode: true
        in: query
        name: returned_content
        required: false
        schema:
          $ref: '#/components/schemas/v2AssemblyDatasetReportsRequestContentType'
        style: form
      - description: "The maximum number of genome assembly reports to return. Default\
          \ is 20 and maximum is 1000. If the number of results exceeds the page size,\
          \ `page_token` can be used to retrieve the remaining results."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: "A page token is returned from an `AssemblyDatasetReportsRequest`\
          \ call with more than `page_size` results. Use this token, along with the\
          \ previous `AssemblyDatasetReportsRequest` parameters, to retrieve the next\
          \ page of results. When `page_token` is empty, all results have been retrieved."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.field
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort.direction
        required: false
        schema:
          $ref: '#/components/schemas/v2SortDirection'
        style: form
      - description: Whether this request for tabular data should include the header
          row
        explode: true
        in: query
        name: include_tabular_header
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get dataset reports by assembly name (exact)
      tags:
      - Genome
  /genome/dataset_report:
    post:
      description: "Get a dataset report by accession.  By default, in paged JSON\
        \ format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_dataset_report_by_post
      requestBody:
        content:
          application/json:
            example:
              accessions:
              - GCF_000001405.40
            schema:
              $ref: '#/components/schemas/v2AssemblyDatasetReportsRequest'
        required: true
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsAssemblyDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get dataset reports by accessions
      tags:
      - Genome
  /genome/accession/{accession}/revision_history:
    get:
      description: Get revision history for assembly by accession
      operationId: assembly_revision_history_by_get
      parameters:
      - examples:
          example-0:
            summary: Human
            value: GCF_000001405.40
        explode: false
        in: path
        name: accession
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyRevisionHistory'
          description: A successful response
      summary: Get revision history for assembly by accession
      tags:
      - Genome
  /genome/revision_history:
    post:
      description: ""
      operationId: assembly_revision_history_by_post
      requestBody:
        content:
          application/json:
            example:
              accession: GCF_000001405.40
            schema:
              $ref: '#/components/schemas/v2AssemblyRevisionHistoryRequest'
        required: true
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyRevisionHistory'
          description: A successful response
      summary: Get revision history for assembly by accession
      tags:
      - Genome
  /genome/sequence_accession/{accession}/sequence_assemblies:
    get:
      description: Get assembly accessions for a sequence (nucleotide) accession
      operationId: assembly_accessions_for_sequence_accession
      parameters:
      - examples:
          example-0:
            summary: Human chromosome accession
            value: NC_000001.11
        explode: false
        in: path
        name: accession
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyAccessions'
          description: A successful response
      summary: Get assembly accessions for a sequence accession
      tags:
      - Genome
  /genome/sequence_assemblies:
    post:
      description: Get assembly accessions for a sequence (nucleotide) accession
      operationId: assembly_accessions_for_sequence_accession_by_post
      requestBody:
        content:
          application/json:
            example:
              accession: NC_000001.11
            schema:
              $ref: '#/components/schemas/v2SequenceAccessionRequest'
        required: true
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyAccessions'
          description: A successful response
      summary: Get assembly accessions for a sequence accession
      tags:
      - Genome
  /genome/accession/{accession}/sequence_reports:
    get:
      description: "Get a sequence report by accession.  By default, in paged JSON\
        \ format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_sequence_report
      parameters:
      - examples:
          example-0:
            summary: Mouse
            value: GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.40
        explode: false
        in: path
        name: accession
        required: true
        schema:
          type: string
        style: simple
      - examples:
          example-0:
            summary: Selected chromosomes
            value:
            - 1
            - 2
            - 3
            - X
            - "Y"
            - MT
          example-1:
            summary: Human sex chromosomes
            value:
            - X
            - "Y"
        explode: true
        in: query
        name: chromosomes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: All types of sequence
            value:
            - assembled-molecule
            - unlocalized-scaffold
            - unplaced-scaffold
          example-1:
            summary: Only assembled molecules
            value: assembled-molecule
        explode: true
        in: query
        name: role_filters
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - examples:
          example-0:
            summary: Genome Accession and Chromosome Name
            value:
            - accession
            - chr-name
          example-1:
            summary: UCSC Name
            value: ucsc-style-name
        explode: true
        in: query
        name: table_fields
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: count_assembly_unplaced
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "The maximum number of genome assemblies to return. Default is\
          \ 20 and maximum is 1000. If the number of results exceeds the page size,\
          \ `page_token` can be used to retrieve the remaining results."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - description: "A page token is returned from an `GetSequenceReports` call with\
          \ more than `page_size` results. Use this token, along with the previous\
          \ `AssemblyMetadataRequest` parameters, to retrieve the next page of results.\
          \ When `page_token` is empty, all results have been retrieved."
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include_tabular_header
        required: false
        schema:
          $ref: '#/components/schemas/v2IncludeTabularHeader'
        style: form
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            text/tab-separated-values:
              schema:
                type: string
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
          description: A successful response
      summary: Get sequence reports by accessions
      tags:
      - Genome
  /genome/sequence_reports:
    post:
      description: "Get a sequence report by accession.  By default, in paged JSON\
        \ format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: genome_sequence_report_by_post
      requestBody:
        content:
          application/json:
            example:
              accession: GCF_000001405.40
            schema:
              $ref: '#/components/schemas/v2AssemblySequenceReportsRequest'
        required: true
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
            text/tab-separated-values:
              schema:
                type: string
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2SequenceReportPage'
          description: A successful response
      summary: Get sequence reports by accessions
      tags:
      - Genome
  /genome/accession/{accessions}/links:
    get:
      description: Get links to available assembly resources by accessions.
      operationId: genome_links_by_accession
      parameters:
      - description: "NCBI genome assembly accessions, limited to 1000"
        examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.40
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.40
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyLinksReply'
          description: A successful response
      summary: Get assembly links by accessions
      tags:
      - Genome
  /genome/links:
    post:
      description: Get links to available assembly resources by accessions.
      operationId: genome_links_by_accession_by_post
      requestBody:
        content:
          application/json:
            example:
              accessions:
              - GCF_000001405.40
            schema:
              $ref: '#/components/schemas/v2AssemblyLinksRequest'
        required: true
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyLinksReply'
          description: A successful response
      summary: Get assembly links by accessions
      tags:
      - Genome
  /genome/taxon/{species_taxon}/checkm_histogram:
    get:
      description: Get CheckM histogram by species taxon. CheckM histograms are only
        available for certain bacterial species.
      operationId: checkm_histogram_by_taxon
      parameters:
      - examples:
          example-0:
            summary: Acinetobacter towneri
            value: 202956
        explode: false
        in: path
        name: species_taxon
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyCheckMHistogramReply'
          description: A successful response
      summary: Get CheckM histogram by species taxon
      tags:
      - Genome
  /genome/checkm_histogram:
    post:
      description: Get CheckM histogram by species taxon. CheckM histograms are only
        available for certain bacterial species.
      operationId: checkm_histogram_by_taxon_by_post
      requestBody:
        content:
          application/json:
            example:
              species_taxon: "202956"
            schema:
              $ref: '#/components/schemas/v2AssemblyCheckMHistogramRequest'
        required: true
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AssemblyCheckMHistogramReply'
          description: A successful response
      summary: Get CheckM histogram by species taxon
      tags:
      - Genome
  /biosample/accession/{accessions}/biosample_report:
    get:
      description: "Get BioSample dataset reports by accession(s).  By default, in\
        \ paged JSON format, but also available as tabular (accept: text/tab-separated-values)\
        \ or json-lines (accept: application/x-ndjson)"
      operationId: BioSample_dataset_report
      parameters:
      - examples:
          example-0:
            summary: BioSample Identifier
            value: SAMN15960293
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        default:
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2reportsBioSampleDataReportPage'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/v2reportsBioSampleDataReportPage'
            text/tab-separated-values:
              schema:
                type: string
          description: A successful response
      summary: Get BioSample dataset reports by accession(s)
      tags:
      - BioSample
  /genome/accession/{accessions}/download:
    get:
      description: "Download a genome dataset including fasta sequence, annotation\
        \ and a detailed data report by accession."
      operationId: download_assembly_package
      parameters:
      - description: NCBI genome assembly accessions
        examples:
          example-0:
            summary: Human and Mouse
            value:
            - GCF_000001405.40
            - GCF_000001635.27
          example-1:
            summary: Human
            value: GCF_000001405.40
        explode: false
        in: path
        name: accessions
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      - description: "The default setting is all chromosome. Specify individual chromosome\
          \ by string (1,2,MT or chr1,chr2.chrMT). Unplaced sequences are treated\
[...]
